{{ template "header" . }}

<body>
  <!-- Navbar -->
  {{ template "navbar" . }}
  <!-- Main content -->
  <div class="container mt-5 d-flex justify-content-center">
    <div class="row row-grid align-items-center">
      <div class="col-12 ">
        <!-- Heading -->
        <div class="display-4 text-center fw-bold mb-2">
          客服软件可靠之选
        </div>
        <div class="display-4 text-center fw-bold mb-2">
          我们了解你
        </div>
        <!-- Text -->
        <p class="fs-5 text-center text-secondary mb-0 text-muted">
          多渠道接入、专属聊天链接、防攻击防封锁、
        </p>
        <p class="fs-5 text-center text-secondary mb-0 text-muted">
          USDT付款自助开通，我们满足您的一切需求。
        </p>
        <!-- Buttons -->
        <div class="text-center text-md-left mt-5">
          <a href="/package.html" class="btn btn-primary ">30秒免费开户
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right"
              viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
  <section class="slice slice-lg pt-lg-6 pb-0 pb-lg-6 bg-section-secondary">
    <div class="container mt-5">
      <div class="row mb-5 justify-content-center text-center">
        <div class="col-lg-6">
          <h2 class="mt-5 display-6 fw-bold">客户互动变得轻松</h2>
          <div class="mt-2">
            <p class="lead lh-180">云客服让您的团队工作更高效、更迅速，且无需在不同应用间切换即可协同合作。</p>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="row mt-5">
        <div class="col-md-4">
          <div class="card border-0">
            <div class="card-body pb-5">
              <div style="width: 100px;" class="mb-4 main-bg-color rounded">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" aria-hidden="true" class="h-6 w-6 text-white">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 21a9.004 9.004 0 008.716-6.747M12 21a9.004 9.004 0 01-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 017.843 4.582M12 3a8.997 8.997 0 00-7.843 4.582m15.686 0A11.953 11.953 0 0112 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0121 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0112 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 013 12c0-1.605.42-3.113 1.157-4.418">
                  </path>
                </svg>
              </div>
              <h5 class="h3 mb-3 fw-bold">一键全渠道接入</h5>
              <p class="text-muted mb-0">提供网页端一键部署的私密聊天链接，实现全渠道客户沟通接入，简化了客户服务流程，使得与客户的互动更加便捷和高效。</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card border-0">
            <div class="card-body pb-5">
              <div style="width: 100px;" class="mb-4 main-bg-color rounded">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" aria-hidden="true" class="h-6 w-6 text-white">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z">
                  </path>
                </svg>
              </div>
              <h5 class="h3 mb-3 fw-bold">防攻击反劫持</h5>
              <p class="text-muted mb-0">采用高级别的防攻击和防劫持技术，结合数据和消息加密，确保客户数据的安全性和系统的稳定性，杜绝数据风险和系统瘫痪的可能性。</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card border-0">
            <div class="card-body pb-5">
              <div style="width: 100px;" class="mb-4 main-bg-color rounded">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" aria-hidden="true" class="h-6 w-6 text-white">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 6v12m-3-2.818l.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
                  </path>
                </svg>
              </div>
              <h5 class="h3 mb-3 fw-bold">购买灵活便捷</h5>
              <p class="text-muted mb-0">注册流程无需审核，即刻开通使用。支持多种支付方式，包括银行卡、支付宝和数字货币，为客户提供便利和灵活的购买选项。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {{ template "footer" . }}
