{{ template "header" . }}

<body>
<!-- Navbar -->
{{ template "navbar" . }}
<!-- Main content -->
<section class="slice slice-lg pt-lg-6 pb-0 pb-lg-6 bg-section-secondary">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-12 ">
                <!-- Heading -->
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="display-7 fw-bold">购买成功!</h5>
                        <div>
                            <div>
                                订单编号: <span>{{ .order.OrderNo }} </span>
                            </div>
                            <div>
                                登录地址: <span>{{ .KfManagerAddress }} </span>
                            </div>
                            <div>
                                卡密id: <span>{{ .order.CardID }} </span>
                            </div>
                            <div>
                                卡密密码: 无密码
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{ template "footer" . }}
